.pic{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

body{

   background-image: url('forest.jpeg'); */
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1; 
}

#pokemon_title{
    color: white;
    text-align: center ;
}

#pokemon_name {
    position: fixed; /* Changed from absolute to fixed */
    top: 80%; /* Added to stick to the bottom */
    left: 50%; /* Changed from 40% to 50% to center horizontally */
    color: white;
    text-align: center;
    z-index: 10;
    font-size: larger;
    transform: translateX(-50%); /* Added to center horizontally */
}

#clickMe{

    background-color: red;
    z-index: 20;
}

#pokemon {
    touch-action: manipulation;
  }

