.pic{

    position: absolute;
    top: 10%;
    left: 0;
    width: 80%;
    height: 60%;
    object-fit: cover;
    z-index: 1;
}

body{

    background-color: black;
}

#pokemon_title{
    color: white;
    text-align: center ;
}

#pokemon_name{
    position: absolute;
    top: 90%;
    left: 45%;
    color: yellow;
    text-align: center ;
    z-index: 10;
}

#clickMe{

    background-color: red;
    z-index: 20;
}

