.pic{

    position: absolute;
    top: 10%;
    left: 30%;
    /* width: 60%; */
    /* height: 60%; */
    /* object-fit: cover; */
    z-index: 5;
}

body{

   background-image: url('forest.jpeg'); */
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1; 
}

#pokemon_title{
    color: white;
    text-align: center ;
}

#pokemon_name{
    position: absolute;
    top: 90%;
    left: 45%;
    color: black;
    text-align: center ;
    z-index: 10;
}

#clickMe{

    background-color: red;
    z-index: 20;
}

#pokemon {
    touch-action: manipulation;
  }

